body {
    margin: 0; /* Убираем отступы */
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Вертикальное расположение элементов */
}

.secup {
    height: 100vh;
    align-items: flex-start; /* Выравниваем кнопки по верхнему краю */
    padding: 10px; /* Добавляем отступы */
    background-image: url('cloudlast.png'); /* Указываем путь к изображению */
    background-size: cover; /* Изображение будет покрывать весь фон */
}

.up {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    padding: 10px; 
    font-family: 'IBM+Plex+Mono', sans-serif;
}

.headbut {
    display: flex; /* Используем flexbox для кнопок */
    margin-left: auto; /* Сдвигаем кнопки вправо */
}

.button-sign-in {
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid #ffffff; /* Белая рамка */
    padding: 10px 20px;
    color: lightgray;
    border-radius: 20px; /* Закругление углов */
    font-size: 24px;
    margin-left: 10px; /* Отступ между кнопками */
    font-family: 'IBM+Plex+Mono', sans-serif;
}

.button-sign-up {
    background-color: transparent; /* Цвет фона для кнопки Sign Up */
    border: none;
    color: lightgray; /* Цвет текста для кнопки Sign Up */
    font-size: 24px;
    font-family: 'IBM+Plex+Mono', sans-serif;
}

.city {
    text-align: left;
    color: lightgray;
    text-decoration: none; /* Убираем подчёркивание */
    font-size: 24px; /* Увеличиваем размер шрифта */
    font-family: 'IBM+Plex+Mono', sans-serif;
}

.title {
    display: block;
    text-align: center;
}

.nameproj{
    font-size: 64px;
    color: #29708A;
    margin-top: 15%;
    margin-bottom: 5px;
}

.authors{
    font-size: 24px;
    color: #29708A;
    margin-top: 0;
    margin-bottom: 60px;
}

.find-button {
    text-align: center;
    background-color: rgba(41, 112, 138, 0.65); /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    font-weight: bold; /* Жирный шрифт */
    border: 2px solid white; /* Белая рамка */
    border-radius: 20px; /* Закругление углов */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 36px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    margin-top: 50px; /* Увеличенный отступ сверху для кнопки */
}


.find-button:hover {
    opacity: 0.9; /* Эффект при наведении */
}

.main{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e9dbc2;
}

.main_head {
    display: flex;
    justify-content: center; /* Центрируем элементы */
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}


.buttons {
    text-align: center;
    display: flex;
    gap: 150px;
    cursor: pointer; /* Указатель при наведении */
}

.buttons:hover {
    opacity: 0.9; /* Эффект при наведении */
}

.button_katalog {
    padding: 10px 15px;
    background-color: #588c8c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.button_heart{
    padding: 10px 15px;
    background-color: #29708A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    font-size: 20px;
    background-color: transparent; /* Прозрачный фон */
    border: none;
    border-radius: 20px;
    color: rgb(254, 152, 152);
}
.search-container {
    padding: 10px;
    margin-bottom: 20px;
    height: 30px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 20px;
}
.cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}
.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: calc(25% - 20px); /* 4 карточки в строку */
    height: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}